@page "/ingredients/create"
@using BlazorApp_Healthy.Shared 
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<h3>Create Ingredient</h3>

<!-- Форма для створення інгредієнта -->
<form @onsubmit="CreateIngredient">
    <input type="text" @bind="ingredient.Title" placeholder="Title" />
    <input type="number" @bind="ingredient.Quantity" placeholder="Quantity" />
    <input type="text" @bind="ingredient.Unit" placeholder="Unit" />
    <button type="submit" class="btn btn-primary">Add Ingredient</button>
</form>

@code {
    private BlazorApp_Healthy.Shared.Ingredient ingredient = new BlazorApp_Healthy.Shared.Ingredient();

    private async Task CreateIngredient()
    {
        var response = await HttpClient.PostAsJsonAsync("api/ingredients", ingredient);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/ingredients"); // Перенаправлення на сторінку зі списком інгредієнтів
        }
        else
        {
            // Обробка помилки
        }
    }
}
