@page "/category"
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime

<h3>Category</h3>
<a href="/categories/create" class="btn btn-primary float-end">Add a Category</a>

@if (Categories != null)
{
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Categories)
            {
                <tr>
                    <td>@category.TitleCategory</td>
                    <td>
                        <div class="btn-group" role="group">
                          
                            <a href="/categories/edit/@category.Id" class="btn btn-outline-primary">Edit</a>

                           
                            <button type="button" class="btn btn-outline-primary" @onclick="(() => DeleteCategory(category.Id, category.TitleCategory))">Delete</button>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {
    private List<BlazorApp_Healthy.Shared.Category> Categories;

    protected override async Task OnInitializedAsync()
    {
        Categories = await HttpClient.GetFromJsonAsync<List<BlazorApp_Healthy.Shared.Category>>("category");
    }

    private async Task DeleteCategory(Guid categoryId, string categoryTitle)
    {
        var confirmDelete = await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {categoryTitle}?");

        if (confirmDelete)
        {
            var response = await HttpClient.DeleteAsync($"category/{categoryId}");
            if (response.IsSuccessStatusCode)
            {
                Categories = await HttpClient.GetFromJsonAsync<List<BlazorApp_Healthy.Shared.Category>>("category");
            }
            else
            {
                // Handle error
            }
        }
    }
}
