@page "/ingredient"
@inject HttpClient HttpClient

@using BlazorApp_Healthy.Shared
<h3>Ingredient</h3>

@if (Ingredients != null)
{
    <ul>
        @foreach (var ingredient in Ingredients)
        {
            <li>
                <strong>@ingredient.Title</strong>: @ingredient.Quantity @ingredient.Unit
            </li>
        }
    </ul>
}
else
{
    <p>Loading...</p>
}

@code {
    private List<BlazorApp_Healthy.Shared.Ingredient> Ingredients;

    protected override async Task OnInitializedAsync()
    {
        Ingredients = await HttpClient.GetFromJsonAsync<List<BlazorApp_Healthy.Shared.Ingredient>>("Ingredient");
    }
}
