@page "/ingredient"
@inject HttpClient HttpClient

@using BlazorApp_Healthy.Shared
<h3>Ingredient</h3>
<a href="/ingredients/create" class="btn btn-primary float-end">Додати категорію</a>

@if (Ingredients != null)
{
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Title</th>
                <th>Quantity</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in Ingredients)
            {
                <tr>
                    <td>@ingredient.Title</td>
                    <td>@ingredient.Quantity</td>
                    <td>@ingredient.Unit</td>
                    <td>

                        <a href="/Ingredients/Edit/@ingredient.Id" class="btn btn-outline-primary">Редагувати</a>
                        <a href="/Ingredients/Delete/@ingredient.Id" class="btn btn-outline-primary">Видалити</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {
    private List<BlazorApp_Healthy.Shared.Ingredient> Ingredients;

    protected override async Task OnInitializedAsync()
    {
        Ingredients = await HttpClient.GetFromJsonAsync<List<BlazorApp_Healthy.Shared.Ingredient>>("ingredient");
    }
}